<mat-toolbar color="primary">
  <mat-toolbar-row style="padding:0">
    <img style="height: 100%;" src="https://mediamgo.s3.eu-west-1.amazonaws.com/env_dev_tso/logo/5e3842e3d4258.png"/>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button><i class="fas fa-home"></i></a>
      <a mat-button>FICHIERS</a>
      <a mat-button>CRM</a>
      <a mat-button>VENTES</a>
      <a mat-button>ACHATS</a>
      <a mat-button>CHANTIERS</a>
      <a mat-button>CONTRATS</a>
      <a mat-button>INTERVENTIONS</a>
      <a mat-button>PLANNINGS</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="breadCrumb">
  <b>Ventes</b> > <a href="#">Devis</a> > <a href="#">D2020-0001</a>
</div>
