.element-list {
  width: calc(100% - 20px);
  max-width: 100%;
  border-right: solid 1px #ccc;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}

.element {
  padding: 5px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.element.lvl-0 {
  background-color: #eaeaea;
  font-size: 1.1em;
}

.element-list:last-child {
  border-bottom: none;
}
.element.ldp input,
.element.titre input {
  font-weight: bold;
}

.element.ldp {
  border-left: 5px solid cornflowerblue;
}
.element.titre {
  border-left: 5px solid forestgreen;
}
.element.article {
  border-left: 1px solid #ddd;
  padding-left: 9px;
}

.columns-list {
  width: calc(100% - 20px);
  max-width: 100%;
  margin: 10px auto 0 auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.columns {
  padding: 5px 10px;
  border-right: solid 1px #fff;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: move;
  background: #001D37;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.columns-list.cdk-drop-list-dragging .columns:not(.cdk-drag-placeholder),
.element-list.cdk-drop-list-dragging .element:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

button {
  margin : 10px;
  float: right;
  background-color: #fff;
}

.input-element {
  width: 100%;
  margin: 0 5px;
}

.input-element /deep/ .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0 !important;
}

.input-element /deep/ .mat-form-field-infix {
  padding: 0.2em 0 0.2em 0;
  border-top: 0.5em solid transparent;
}

.prof-indicator {
  background-color: #ccc;
  display: inline-block;
  height: 10px;
}
