<button mat-stroked-button>Aperçu</button>
<button mat-stroked-button>Impression</button>

<div cdkDropList cdkDropListOrientation="horizontal" class="columns-list" (cdkDropListDropped)="dropColumn($event)">
  <div [ngStyle]="{width: col.width+'%'}" cdkDragLockAxis="x" class="columns" *ngFor="let col of columns" cdkDrag>{{ col.libelle }}</div>
</div>

<div cdkDropList class="element-list" (cdkDropListDropped)="dropElement($event)">
  <div cdkDragLockAxis="y" *ngFor="let element of elements" cdkDrag class="element {{ element.type }} lvl-{{ getParents(element).length }}" >
    <div [ngStyle]="{width: columns[0].width+'%'}">
      <div class="prof-indicator" [ngStyle]="{width: 100 / maxProf * getParents(element).length+1 +'%'}"></div>
    </div>
    <mat-form-field class="input-element" appearance="outline" *ngFor="let key of objectKeys(element.data); let i = index" [ngStyle]="{width: columns[i+1].width+'%'}">
      <input matInput value="{{ element.data[key].data }}"/>
    </mat-form-field>
  </div>
</div>
