<form class="example-form">
  <ng-container *ngFor="let item of definitionDevis" [ngSwitch]="(item.type)">
    <mat-form-field *ngSwitchCase="'text'" class="example-full-width">
      <mat-label>{{ item.libelle }}</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'object'" class="example-full-width">
      <mat-label>{{ item.libelle }}</mat-label>
      <mat-select>
        <mat-option *ngFor="let employe of employes" [value]="employe.id">{{employe.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'array'" class="example-full-width">
      <mat-label>{{ item.libelle }}</mat-label>
      <mat-select multiple>
        <mat-option *ngFor="let employe of employes" [value]="employe.id">{{employe.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'date'" class="example-full-width">
      <mat-label>{{ item.libelle }}</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngSwitchDefault class="example-full-width">
      <mat-label>{{ item.libelle }}</mat-label>
      <input matInput>
    </mat-form-field>

    <button *ngIf="item.modifiable" mat-icon-button color="primary" matTooltip="Modifier le {{ item.key }} selectionné" matTooltipPosition="right" matTooltipShowDelay="300"><i class="fas fa-lg fa-pen"></i></button>
    <button *ngIf="item.creatable" mat-icon-button color="primary" matTooltip="Créer un {{ item.key }}" matTooltipPosition="right" matTooltipShowDelay="300"><i class="fas fa-lg fa-plus"></i></button>
  </ng-container>
  <div style="text-align: right; margin-top: 30px;">
    <button color="primary" mat-flat-button>Enregistrer</button>
  </div>
</form>
