.example-container {
  position: absolute;
  top: 85px;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn-container {
  bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  background: #fff;
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
