<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" class="example-sidenav"
     [fixedInViewport]="true" [fixedTopGap]="85"
     [fixedBottomGap]="0">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"><i class="fas fa-lg fa-info-circle"></i></div>
        <mat-card-title>Informations générales</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-devis-form></app-devis-form>
      </mat-card-content>
    </mat-card>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-sidenav-container class="btn-container">
      <mat-sidenav mode="side" opened>
        <p><button color="primary" mat-icon-button (click)="paramButtonClick('infoGenerales')" matTooltip="Informations générales" matTooltipPosition="right" matTooltipShowDelay="300"><i class="fas fa-lg fa-info-circle"></i></button></p>
        <p><button color="primary" mat-icon-button (click)="paramButtonClick('paramImpression')" matTooltip="Paramètres d'impression" matTooltipPosition="right" matTooltipShowDelay="300"><i class="fas fa-lg fa-print"></i></button></p>
      </mat-sidenav>
      <mat-sidenav-content>
        <app-list></app-list>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>
