@import '~@angular/material/theming';
@include mat-core();

$bat-deep-blue: (
  50: #001D37,
  100: #001D37,
  200: #001D37,
  300: #001D37,
  400: #001D37,
  500: #001D37,
  600: #001D37,
  700: #001D37,
  800: #001D37,
  900: #001D37,
  A100: #006390,
  A200: #006390,
  A400: #006390,
  A700: #006390,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

/* ======== Angular material custom themes ======== */
$my-custom-primary: mat-palette($bat-deep-blue);
$my-custom-accent: mat-palette($mat-pink, 100, 500, A100);
$my-custom-warn: mat-palette($mat-lime);

$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

@include angular-material-theme($my-custom-theme);
